.navegador {

	text-align: center;
	border: 1px solid #D5E6EE;
	background: #EEF5F9;
}
.navegador a {
	text-decoration: none;
	line-height: 200%;
	color: #237898;
}

.navegador a:hover {
	text-decoration: none;
	color: #002E5B;
}

.navegador .anterior {
	float: left;
	padding: 0px 20px 0px 20px;
}

.navegador .proximo {
	padding: 0px 20px 0px 20px;
	float: right;
}

.navegador .paginas li {
	display: inline;
	padding: 0 20px 0 20px;
}

#produtos li {
        background: white;
		display: block;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        padding: 20px 10px 60px 5px;
}

#produtos li .admin a
{
	text-decoration: none;
	font-size: 60%;
	float right;
	color: #237898;
}

#produtos li .admin a:hover
{
	text-decoration: none;
	color: #002E5B;
}

#produtos img {
	float: left;
        margin-right: 10px;
}

#conteudo form {
	padding: 10px;
	border-top: 1px solid #D5E6EE;
	border-bottom: 1px solid #D5E6EE;
	background: #EEF5F9;
}

#conteudo form p {
	font-size: 120%;
	margin-bottom: 10px;
}

#conteudo form #botao {
	float: right;
}

#tree1
{
	margin: 20px 0 20px 0;
}

/* Put this inside a @media qualifier so Netscape 4 ignores it */
	/* Turn off list bullets */
	ul.mktree  li { list-style: none; } 
	/* Control how "spaced out" the tree is */
	ul.mktree, ul.mktree ul , ul.mktree li { margin-left: 0px; padding:0px; }
	/* Provide space for our own "bullet" inside the LI */
	ul.mktree  li           .bullet { padding-left: 15px; }
	/* Show "bullets" in the links, depending on the class of the LI that the link's in */
	ul.mktree  li.liOpen    .bullet { cursor: pointer; background: url(menos.gif)  center left no-repeat; }
	ul.mktree  li.liClosed  .bullet { cursor: pointer; background: url(mais.gif)   center left no-repeat; }
	ul.mktree  li.liBullet  .bullet { cursor: default; background: none; }
	/* Sublists are visible or not based on class of parent LI */
	ul.mktree  li.liOpen    ul { display: block; }
	ul.mktree  li.liClosed  ul { display: none; }
