* {
	margin:0;
	padding:0;
	border:0;
	list-style-type:none;
}

body{
	background-color:#d5f6ff;
}

#pagina {
	width: 800px;
	margin: auto;
}

#logo {
	margin-top: 5px;
	width: 101px;
	height: 78px;
	background-image: url("../img/logo-small.png");
	background-repeat: no-repeat;
}

#banner {
	margin-left: 110px;
	width: 402px;
	height: 77px;
	background-image: url("../img/banner.png");
	background-repeat: no-repeat;
}

#tituloConteudo {
	padding: 2px 0px 4px 20px;
  	font-family: "utopia", sans-serif; 
	font-size: 22pt;
	font-weight: bold;
	clear: both;
}

.fundoAzul{
	display: block;
	background-color: #00ccff;
}