#menu li{
	float: left;
	margin: 5px 0 10px 80px;
	
}

#menuRodape {
        padding: 11px 0 0 0;
        width: 800px;
        height: 28px;
        background-color: #00CCFF;
}

#menuRodape li{
	float: left;
        margin: 0 0 0 90px;
        font-size: 10pt;
}