.navegador {
	padding-bottom: 35px;
	text-align: center;
	border: 1px solid #D5E6EE;
	background: #EEF5F9;
}
.navegador a {
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	line-height: 200%;
	color: #237898;
}

.navegador a:hover {
	text-decoration: none;
	color: #002E5B;
}

.anterior {
	float: left;
}

.proximo {
	float: right;
}

#produtos li {
        background: white;
		display: block;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        padding: 20px 10px 60px 5px;
}

#produtos img {
	float: left;
        margin-right: 10px;
}

#conteudo form {
	padding: 10px;
	margin: 20px 0 20px 0;
	border-top: 1px solid #D5E6EE;
	border-bottom: 1px solid #D5E6EE;
	background: #EEF5F9;
}

#conteudo form p {
	font-size: 120%;
	margin-bottom: 20px;
}
